<form class="example-form" [formGroup]="form">
    <div class="mb-5">
        <p class="text-2xl">Crea un nuovo utente</p>
    </div>
    <div class="flex flex-wrap justify-between">
        <mat-form-field style="width: 47% !important;" appearance="outline">
          <mat-label>Nome</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field style="width: 47% !important;"  class="w-50" appearance="outline">
          <mat-label>Cognome</mat-label>
          <input formControlName="surname" matInput>
        </mat-form-field>
        <mat-form-field style="width: 47% !important;"  class="w-50" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field style="width: 47% !important;"  class="w-50" appearance="outline">
          <mat-label>Anno di nascita</mat-label>
          <input formControlName="birthDay" matInput>
        </mat-form-field>

        <div class="w-full flex justify-end mt-7">
            <div>
                <button class="bg-red-600 text-white" (click)="closeDialog()" mat-button>Anulla</button>
            </div>
            <div class="ml-5">
                <button class="bg-green-500 text-white" (click)="updateDataUser()"  mat-button>Salva</button>
            </div>
        </div>
    </div>
</form>